mat-card {
    width: 100%;
    padding: 16px;
}


mat-form-field, textarea {
    width: 100%;
}

textarea {
    resize: none;
}

mat-form-field label {
    color:rgb(131, 131, 131);
    font-style:italic;
    font-size: 14px;
    letter-spacing: 4px;
}

button.btn {
    background-color: rgb(89, 0, 124);
}