<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <label for="title">Título</label>
            <input matInput type="text" name="title" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <label for="content">Conteúdo</label>
            <textarea matInput rows="5" name="content" ngModel required></textarea>
        </mat-form-field>
        
        <button mat-flat-button color="accent" class="btn" type="submit">Save Post</button>
    </form>
</mat-card>